.product-card-image{
  background-color: gray;
  width: 60%;
  height: 200px;
}
.product-card-image img{
  width: 50%;
}
// .card{
//   --bs-card-border-width: 0px;
// }
.card-img-overlay{
  cursor: pointer;
}

