@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;900&family=Reggae+One&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page_tittle{
  color: #8D3045 ;
  font-size: 30px;
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: .5rem;
}

