.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F0A0AC;
  min-height: 12vh;
  padding: 0 20px;
  color: white;
}
.icons{
  font-size: 40px;
  color: white;
}
.logo{
  display: flex;
  width: 120px;
  align-self: center;
}
/*Menu*/

/*Footer*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}